<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <h1>To Do List</h1>
    <h2>Add New Task</h2>
    <form action="/tasks/frontend" method="post">
        Category: <input type="text" name="category"><br>
        Description: <input type="text" name="description"><br>
        <input type="submit" value="Add Task" equiv="refresh" content="0; URL=http://127.0.0.1:5000/">
    </form>

    <h2>All Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li>
                ID: {{ task.id }}<br>
                Category: {{ task.category }}<br>
                Description: {{ task.description }}<br>
                Status: {{ task.status }}<br>
            </li>
        {% endfor %}
    </ul>

   

</body>
</html>
